services:
  postgres:
    image: postgres:16-alpine
    container_name: relaydocs-postgres
    environment:
      POSTGRES_DB: relaydocs
      POSTGRES_USER: relaydocs
      POSTGRES_PASSWORD: relaydocs
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./infra/sql:/docker-entrypoint-initdb.d

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v24.2.8
    container_name: relaydocs-redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --check=false
      - --node-id
      - "0"
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://localhost:9092
    ports:
      - "9092:9092"
      - "9644:9644"

volumes:
  pg_data: